training-boilerplate/node_modules/**/*
.expo/*
training-boilerplate/.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
training-boilerplate/web-build/
training-boilerplate/web-report/

# macOS
.DS_Store
